# Ignorar las carpetas .vs y x64 dentro de la carpeta src
src/.vs/
src/x64/

# Archivos objeto compilados
*.o
*.obj

# Archivos de librería compilados
*.lib
*.a
*.dll
*.so

# Ejecutables
*.exe
*.out

# Archivos de Visual Studio
*.user
*.suo
*.sln
*.vcxproj
*.vcxproj.filters

# Archivos temporales
*.tmp
*.temp

# Otros archivos y carpetas que generalmente no se quieren en el control de versiones
*.log
.vscode/

# Ignorar todos los archivos en la carpeta output excepto .gitkeep
output/*
!output/.gitkeep
